@model CloudDebugger.Features.BlobVersioning.BlobVersioningModel
@{
    ViewData["Title"] = "Blob Versioning Tool";
}

<h4>Blob Versioning Tool</h4>
Tools to explore versioned blobs.
<br />
<a href="/BlobStorage">Back</a>

<br />
<br />

<form asp-controller="BlobVersioning" asp-action="Index" method="post">

    <table class="table">
        <tr>
            <td class="col-md-2">
                Storage account name
            </td>
            <td class="col-md-10">
                <input asp-for="StorageAccountName" style="min-width:30%">
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Container name</td>
            <td class="col-md-6">
                <input asp-for="ContainerName" style="min-width:30%">
                <span asp-validation-for="ContainerName"></span>
            </td>
            <td class="col-md-4"></td>
        </tr>
        <tr>
            <td class="col-md-2">Access key or<br />SAS Token/URL</td>
            <td class="col-md-10">
                <input asp-for="SASToken" style="min-width:100%"><br />
                (If missing it will authenticate using DefaultAzureCredential)
            </td>
        </tr>
        <tr>
            <td class="col-md-2">Blob name</td>
            <td class="col-md-6">
                <input asp-for="BlobName" style="min-width:30%">
                <span asp-validation-for="BlobName"></span>
            </td>
            <td class="col-md-4"></td>
        </tr>

    </table>


    <br />
    <h3>Create versioned blob</h3>
    This button will created a blob and make 10 changes to it with <b>1 second delay</b> between each change.
    <br />
    <button type="submit" name="button" value="createversionedblob">Create Versioned Blob</button>


    <br />
    <br />
    <h3>List blob versions</h3>
    This tool will list all the versions of the specified blob.
    <br />
    <button type="submit" name="button" value="readversionedblob">Get Versions</button>

    <br />
    <br />
    <b>@Model.AuthenticationMessage</b>

    @if (Model.BlobVersions != null && Model.BlobVersions.Count > 0)
    {
        <br />
        <br />
        <h3>Blob Versions</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version Id</th>
                    <th>IsDeleted</th>
                    <th>IsLatestVersion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var version in Model.BlobVersions)
                {
                    if (@version.IsLatestVersion == false)
                    {
                        <tr>
                            <td>@version.Name</td>
                            <td>@version.VersionId</td>
                            <td>@version.IsDeleted</td>
                            <td>@version.IsLatestVersion</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <pre>@version.Content</pre>
                            </td>
                        </tr>
                    }
                    else
                    {
                        @* Make this row all in bold *@
                        <tr style="background-color: lightblue;">
                            <td><b>@version.Name</b></td>
                            <td><b>@version.VersionId</b></td>
                            <td><b>@version.IsDeleted</b></td>
                            <td><b>@version.IsLatestVersion</b></td>
                        </tr>
                        <tr style="background-color: lightblue;">
                            <td colspan="4">
                                <pre><b>@version.Content</b></pre>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }


</form>
<br />
@if (!String.IsNullOrWhiteSpace(Model?.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <pre>@Model.ErrorMessage</pre>
    </div>
}

@if (!String.IsNullOrWhiteSpace(Model?.Message))
{
    <b>@Model.Message</b>
}

<br>
<br>

<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/BlobStorage-Versioning">Documentation</a></li>
    <li><a href="https://learn.microsoft.com/en-us/azure/storage/blobs/versioning-overview">Blob versioning</a></li>
</ul>