@model CloudDebugger.Features.Diagnostics.NetworkDetailsModel

@{
    ViewData["Title"] = "Cloud Debugger - Network summary";
}

<h3>Network summary</h3>
<a href="/diagnostics">Back</a>
<br />
<br />


<table class="table table-hover table-bordered">
    <tr>
        <td class="col-md-2">HostName</td>
        <td class="col-md-10">@Model.HostName</td>
    </tr>
    <tr>
        <td class="col-md-2">DomainName</td>
        <td class="col-md-10">@Model.DomainName</td>
    </tr>
</table>



@if (Model.NetworkInterfaces != null)
{
    <br />
    <h4>Network interfaces</h4>

    @foreach (var adapter in Model.NetworkInterfaces)
    {
        <br />
        <h5>Interface: @adapter.Name</h5>

        <table class="table table-hover table-bordered">
            <tr>
                <td class="col-md-2">Adapter</td>
                <td class="col-md-10">@adapter.Description</td>
            </tr>
            <tr>
                <td class="col-md-2">Interface type</td>
                <td class="col-md-10">@adapter.NetworkInterfaceType</td>
            </tr>
            <tr>
                <td class="col-md-2">Operational status</td>
                <td class="col-md-10">@adapter.OperationalStatus</td>
            </tr>
            <tr>
                <td class="col-md-2">IP version</td>
                <td class="col-md-10">@adapter.IPVersions</td>
            </tr>
            <tr>
                <td class="col-md-2">DNS suffix</td>
                <td class="col-md-10">@adapter.DnsSuffix</td>
            </tr>
            @if (adapter.DnsAddresses != null)
            {
                @foreach (var dns in adapter.DnsAddresses)
                {
                    <tr>
                        <td class="col-md-2">DNS Server</td>
                        <td class="col-md-10">@dns</td>
                    </tr>
                }
            }

            @if (adapter.GatewayAddresses != null)
            {
                @foreach (var gw in adapter.GatewayAddresses)
                {
                    <tr>
                        <td class="col-md-2">Gateway Address</td>
                        <td class="col-md-10">@gw</td>
                    </tr>
                }
            }

            @if (adapter.IPv4AddressInfos != null)
            {
                <tr>
                    <td class="col-md-2">IPv4 Addresses</td>
                    <td class="col-md-10">
                        <table class="table table-hover table-bordered">
                            @foreach (var info in adapter.IPv4AddressInfos)
                            {
                                <tr>
                                    <td class="col-md-2">IP Address</td>
                                    <td class="col-md-10">@info.IPAddress</td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">Subnet Mask</td>
                                    <td class="col-md-10">@info.SubnetMask</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }

            @if (adapter.IPv6AddressInfos != null)
            {
                <tr>
                    <td class="col-md-2">IPv6 Addresses</td>
                    <td class="col-md-10">
                        <table class="table table-hover table-bordered">
                            @foreach (var info in adapter.IPv6AddressInfos)
                            {
                                <tr>
                                    <td class="col-md-2">IP Address</td>
                                    <td class="col-md-10">@info.IPAddress</td>
                                </tr>
                                <tr>
                                    <td class="col-md-2">Prefix Length</td>
                                    <td class="col-md-10">@info.PrefixLength</td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }

            @if (adapter.WinsServers != null)
            {
                @foreach (var wins in adapter.WinsServers)
                {
                    <tr>
                        <td class="col-md-2">WINS Servers</td>
                        <td class="col-md-10">@wins</td>
                    </tr>
                }
            }
        </table>
    }
}