@model CloudDebugger.Features.ScaleOut.ScaleOutModel
@{
    // No layout on this page
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Show service instance details</title>
</head>
<body style="background-color:#@Model.BackgroundColor;">
    <a href="/ScaleOut/ShowDetails?clearcookies=1">Clear cookies</a><br />
    <br />

    <table>

        @if (Model.SiteName != null)
        {
            <tr>
                <td>SiteName</td>
                <td>@Model.SiteName</td>
            </tr>
        }

        @if (Model.HostName != null)
        {
            <tr>
                <td>Hostname</td>
                <td>@Model.HostName</td>
            </tr>
        }

        @if (Model.PodIP != null)
        {
            <tr>
                <td>Pod IP</td>
                <td>@Model.PodIP</td>
            </tr>
        }

        @if (Model.IPAddress != null)
        {
            <tr>
                <td>IP-Address</td>
                <td>@Model.IPAddress</td>
            </tr>
        }
        @if (Model.InstanceId != null)
        {
            <tr>
                <td>InstanceId</td>
                <td>@Model.InstanceId.Substring(0, 4)</td>
            </tr>
        }
        @if (Model.ComputerName != null)
        {
            <tr>
                <td>ComputerName</td>
                <td>@Model.ComputerName</td>
            </tr>
        }
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        @if (Model.Version != null)
        {
            <tr>
                <td>Version</td>
                <td>@Model.Version</td>
            </tr>
        }
        @if (Model.ConStr != null)
        {
            <tr>
                <td>ConStr</td>
                <td>@Model.ConStr</td>
            </tr>
        }
        @if (Model.Env != null)
        {
            <tr>
                <td>ConStr</td>
                <td>@Model.Env</td>
            </tr>
        }
        <tr>
            <td>Time</td>
            <td>@Model.CurrentTime (Instance age: @((int)(Model.RunningTime.TotalMinutes)) minutes)</td>
        </tr>
    </table>

</body>
</html>