@using CloudDebugger.Features.WebHooks
@model CloudDebugger.Features.WebHooks.WebHookLog
@inject IWebHookLog webHookLog
@{
    ViewData["Title"] = "Cloud Debugger - Webhooks log";

    bool enableHookFailure =WebHookSettings.WebHookFailureEnabled;
    bool hideHeaders = WebHookSettings.HideHeaders;
    bool hideBody = WebHookSettings.HideBody;

    int HookId = ViewData["HookId"] as int? ?? 1;

    string hookEndpoint= $"/hook{HookId}";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>


<h3>Web hook #@HookId log</h3>
Webhook #@HookId endpoint: <b>@hookEndpoint</b><br />
<a href="/webhooks">Back</a>

<br />
@{
    <br>
    if (enableHookFailure)
    {
        @:WebHook endpoint returns 500 server error: <a href="/Webhooks/SetWebHookFailureMode/0?hookId=@HookId">(disable)</a>
        <img src="/content/Info_icon_002.svg.png" alt="Information" width="24" id="icon2" />
    }
    else
    {
        @:WebHook endpoint: Functional <a href="/Webhooks/SetWebHookFailureMode/1?hookId=@HookId">(make hook endpoint fail)</a>
        <img src="/content/Info_icon_002.svg.png" alt="Information" width="24" id="icon2" />
    }
    <br />
    if (hideHeaders)
    {
        @:Headers: <a href="/Webhooks/SetHideHeadersMode/0?hookId=@HookId">show</a>
             
    }
    else
    {
        @:Headers: <a href="/Webhooks/SetHideHeadersMode/1?hookId=@HookId">hide</a>
    } 
    if (hideBody)
    {
        @:Body: <a href="/Webhooks/SetHideBodyMode/0?hookId=@HookId">show</a>

    }
    else
    {
        @:Body: <a href="/Webhooks/SetHideBodyMode/1?hookId=@HookId">hide</a>
    }
    <br>
    <br>
}

<hr />
<h4>Request log</h4>
<a href="/Webhooks/ClearWebHookLog?hookId=@HookId">Clear the log</a>



<table class="table table-hover table-bordered">


    <thead>
        <tr>
            <th class="col-md-1">Time</th>
            <th class="col-md-11">Request</th>
        </tr>
    </thead>
    <tbody>

        @{
            var log = webHookLog.GetLogEntriesForWebHook(HookId);

            @if (log.Count > 0)
            {
                foreach (var entry in log)
                {
                    <tr>
                        <td colspan="1">
                            @entry.EntryTime.ToString("hh:mm:ss")
                        </td>
                        <td colspan="11">
                            <b>@entry.HttpMethod @entry.Url</b><br />
                            @if(!string.IsNullOrEmpty(entry.Subject))
                            {
                                <b>Subject:</b>@entry.Subject
                                <br />
                            }

                            @if (!String.IsNullOrWhiteSpace(entry.Comment))
                            {
                                <b>@entry.Comment</b>
                                <br />
                            }
                            
                            @if (!hideHeaders)
                            {
                                @foreach (var header in entry.RequestHeaders)
                                {
                                    @header.Key@:: @header.Value<br />
                                }
                            }
                       
                            @if (!hideBody && entry.Body != null && entry.Body.Length > 0)
                            {
                                <br />
                                <pre>@entry.Body</pre>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">No requests have been logged yet.</td>
                </tr>
            }
        }
    </tbody>
</table>

@section scripts {
    <script>
        tippy('#icon1', {
            content: 'When disabled, the webhook endpoint will not respond to validation requests. Some services require the webhook endpoint to respond to a validation request before they begin sending events to it.',
        });
        tippy('#icon2', {
            content: 'When enabled, the hook endpoint will return a HTTP 500 (server error) status code. Useful for simulating delivery failures.',
        });
    </script>
} 

