@model CloudDebugger.Features.AzureSdkEventLogViewer.ViewLogModel
@{
    ViewData["Title"] = "Cloud Debugger - Azure SDK Events";
}

<h5>View internal Azure SDK events</h5>
This page will display the internal events emitted by the Azure SDK.

<br />
<a href="/AzureSDKEventLogViewer/ClearEventLog">Clear the log</a>
<br />
<br />

<h5>Internal Azure SDK events</h5>
<table class="table table-bordered">

    <tr>
        <th>Time</th>
        <th>Log entry</th>
    </tr>

    @if (Model.Log != null && Model.Log.Count > 0)
    {
        foreach (var entry in Model.Log)
        {
            <tr>
                <td>
                    <pre>@entry.EntryTime.ToString("hh:mm:ss")</pre>
                </td>
                <td>
                    <pre>@Html.Raw(@entry.EventType?.ToString() ?? "Unknown")</pre>
                </td>
                <td style="width: 100%; word-wrap: break-word; display: inline-block; vertical-align: top;">
                    <pre style="white-space: pre-wrap; word-break: break-word;">@Html.Raw(@entry.Message?.ToString().Replace("]", "]\r\n") ?? "")</pre>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>No log data found</td>
        </tr>
    }

</table>


<br />
<br />
<h5>Resources</h5>
<ul>
    <li><a href="https://github.com/tndata/CloudDebugger/wiki/AzureSDKEventLog">Documentation</a></li>
</ul>