@model CloudDebugger.Features.CredentialsEventLog.ViewLogModel
@{
    ViewData["Title"] = "CloudDebugger - View Log";
}

<h5>View internal MyAzureIdentity log</h5>
This page will display the internal log of the MyAzureIdentityLibrary.

<br />
<a href="/DefaultAzureCredentials/index">Back</a>&nbsp;&nbsp;<a href="/CredentialsEventLog/ClearEventLog">Clear the log</a>
<br />
<br />

<h5>The internal event log</h5>
<table class="table table-bordered">

    @if (Model.Log != null && Model.Log.Count > 0)
    {
        foreach (var entry in Model.Log)
        {
            <tr>
                <td>
                    <pre>@entry.EntryTime.ToString("hh:mm:ss")</pre>
                </td>
                <td>
                    <pre>@Html.Raw(@entry.Context.ToString())</pre>
                </td>
                <td style="width: 100%; word-wrap: break-word; display: inline-block; vertical-align: top;">
                    <pre>@Html.Raw(@entry.Message.ToString())</pre>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td>No log data found</td>
        </tr>
    }

</table>
